.navbar {
    display:flex;
    justify-content: space-around;
    padding: 1rem;
    position: sticky;
    display: flex;
    gap: 1rem;
    top: 0;
    z-index: 1000;
}

.nav-link {
    text-decoration: none;
    color: #f6f7f9;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #7b0c0e;
}

.active {
    color: #eb0a0a;
    text-decoration: underline;
}
